.groupDisplayDiv>p {
  text-align: left;
}

.groupDisplayDiv {
  padding: 30px;
  margin : 10px;
  background-color: azure;
  border: 5px solid lightskyblue;
}

.GroupSearchPage {
  padding: 10px;
}