#backLink {
  position: relative;
  width: 170px;
  left: 20px;
  padding: 20px;
}

.card {
  width: 70%;
  padding: 50px;
  margin: auto;
  float: none;
}

.controlButton {
  margin:10px;
  width: 60%;
}

/* The sizing isn't very intelligent and makes everything a square */
.thumbnail {
  width: 100px;
  height: 100px;
}

.leftItem {
  width: 40%;
  height: 100%;
  float: left;
  border: 5px solid lightblue;
  overflow-x: auto;
}

.rightItem {
  width: 40%;
  height: 100%;
  float: left;
  border: 5px solid lightblue;
  overflow-x: auto;
}

.controls {
  width: 19%;
  height: 100%;
  float: left;
}

.grid-container {
  padding: 20px;
  background-color: azure;
  overflow-x: auto;
}

.image {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  margin: auto ;
}
