.card {
  padding: 50px;
  margin: 50px;
  float: inherit;
}

/* The sizing isn't very intelligent and makes everything a square */
.thumbnail {
  width: 100px;
  height: 100px;
}

.leftItem {
  padding: 50px;
  margin: 50px;
  float: left;
}

.rightItem {
  padding: 50px;
  margin: 50px;
  float: left;
}

.controls {
  padding: 50px;
  margin: 50px;
  float: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
